@using SFA.DAS.DownloadService.Services.Utility
@model SFA.DAS.DownloadService.Web.Models.AparDownloadViewModel
@{
    ViewBag.Title = "Download the Register of Apprenticeship Training Providers (RoATP)";
}
<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Download the Register of Apprenticeship Training Providers (RoATP)
            </h1>
            <p>The RoATP is a list of organisations that are eligible to receive government funding to train apprentices.</p>
            <h2 class="govuk-heading-m">Document</h2>
            <div class="app-attachment">
                <h2 class="govuk-heading-m app-attachment__heading">DfE register of apprenticeship training providers </h2>
                <span class="app-attachment__link-wrap">@Html.ActionLink("Download CSV", "DownloadCsv", "Apar", new { filename = Model.Filename }, new { @class = "govuk-link" })</span>
                <span class="app-attachment__icon"></span>
            </div>
            <dl class="das-definition-list das-definition-list--meta">
                <dt class="das-definition-list__title">Last updated</dt>
                <dd class="das-definition-list__definition">@Model.LastUpdated.ToGdsFormatWithSeconds() </dd>
            </dl>
            <p><a href="https://www.gov.uk/guidance/register-of-apprenticeship-training-providers" target="_blank" class="govuk-link  govuk-link--no-visited-state" rel="noopener">Learn more about the register of apprenticeship training providers</a> on GOV.UK</p>

            <h2 class="govuk-heading-m">What do the terms in the register mean?</h2>

            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">UKPRN</h3>
            <p>This is the training provider's UK Provider Reference Number (UKPRN). It is given to them by the UK Register of Learning Providers (<a href="https://www.ukrlp.co.uk" target="_blank" class="govuk-link  govuk-link--no-visited-state" rel="noopener">UKRLP</a>).</p>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Name</h3>
            <p>This is the organisation's legal name. We also list trading names for sole traders and partnerships.We source organisation names displayed in the apprenticeship service from <a href="https://www.ukrlp.co.uk" target="_blank" class="govuk-link  govuk-link--no-visited-state" rel="noopener">UKRLP</a>.</p>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Application type</h3>
            <p>Providers choose the application route that is relevant to them.</p>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Start date</h3>
            <p>This is the date that the Department for Education (DfE) added the organisation to the RoATP.</p>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Status</h3>
            <p>Where this states 'not currently starting new apprentices', then that organisation is currently not permitted to recruit new apprentices.</p>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Application determined date</h3>
            <p>This is the date that the Department for Education (DfE) completed processing the training provider's application to join the register.</p>
            <p><a href="https://www.gov.uk/guidance/register-of-apprenticeship-training-providers" target="_blank" class="govuk-link  govuk-link--no-visited-state" rel="noopener">Learn more about the register of apprenticeship training providers</a> on GOV.UK</p>
        </div>
    </div>
</main>