@using SFA.DAS.DownloadService.Services.Utility
@model SFA.DAS.DownloadService.Web.Models.AparDownloadViewModel
@{
    ViewBag.Title = "Download the apprenticeship provider and assessment register (APAR)";
}
<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Download the apprenticeship provider and assessment register (APAR)
            </h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body">APAR lists training provider organisations who are eligible for government funding to train apprentices. It also lists end-point assessment organisations (EPAOs).</p>
            
            <p class="govuk-body">The register includes names and unique identifiers for training providers and EPAOs. It does not include contact details. For more information about training providers and EPAOs:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link" href="https://www.gov.uk/government/publications/finding-an-end-point-assessment-organisation">Finding an end-point assessment organisation</a></li>
                <li><a class="govuk-link" href="https://www.gov.uk/employers-find-apprenticeship-training">Find apprenticeship training if you're an employer</a></li>
            </ul>
            
            <h2 class="govuk-heading-m">Document</h2>
            <div class="app-attachment">
                <h2 class="govuk-heading-m app-attachment__heading">Apprenticeship provider and assessment register</h2>
                <span class="app-attachment__link-wrap">@Html.ActionLink("Download CSV", "DownloadCsv", "Apar", new { filename = Model.Filename }, new { @class = "govuk-link" })</span>
                <span class="app-attachment__icon"></span>
            </div>
            <dl class="das-definition-list das-definition-list--meta">
                <dt class="das-definition-list__title">Last updated</dt>
                <dd class="das-definition-list__definition">@Model.LastUpdated.ToGdsFormatWithSeconds() </dd>
            </dl>
            
            <h2 class="govuk-heading-m">What do the terms in the register mean?</h2>

            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">UKPRN</h3>
            <p>This is the training provider's UK Provider Reference Number (UKPRN). It is given to them by the UK Register of Learning Providers (<a href="https://www.ukrlp.co.uk" target="_blank" class="govuk-link  govuk-link--no-visited-state" rel="noopener">UKRLP</a>).</p>
            
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Name</h3>
            <p>This is the organisation's legal name. We also list trading names for sole traders and partnerships. We source organisation names displayed in the apprenticeship service from <a href="https://www.ukrlp.co.uk" target="_blank" class="govuk-link  govuk-link--no-visited-state" rel="noopener">UKRLP</a>.</p>
            
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Application type</h3>
            <p>Providers choose the application route that is relevant to them.</p>
            
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Start date</h3>
            <p>For training providers this is the date that the Department for Education (DfE) added the organisation to APAR.</p>
            <p>For EPAOs, this is the earliest date any of the standards they assess is valid from.</p>
            
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Status</h3>
            <p>Where this states 'not currently starting new apprentices', then that organisation is currently not permitted to recruit new apprentice learners.</p>
            
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Application determined date</h3>
            
            <p>This is the date that the training provider or EPAO was approved on the register.</p>
        </div>
        <div class="govuk-grid-column-one-third">
            <hr />
            <h2 class="govuk-heading-s govuk-!-font-size-14">Related content</h2>
            <p class="govuk-body-s"><a class="govuk-link" href="https://www.gov.uk/guidance/joining-the-apar-as-an-end-point-assessment-organisation">Join the register as an end-point assessment organisation</a></p>
            <p class="govuk-body-s"><a class="govuk-link" href="https://www.gov.uk/guidance/apply-to-the-apar-as-an-apprenticeship-training-provider">Join the register as a training provider</a></p>
            <p class="govuk-body-s"><a class="govuk-link" href="https://assessors.apprenticeships.education.gov.uk/find-an-assessment-opportunity">Find an assessment opportunity</a></p>
            <p class="govuk-body-s"><a class="govuk-link" href="https://find-epao.apprenticeships.education.gov.uk/">Find an end-point assessment organisation for your apprentice</a></p>
        </div>
    </div>
</main>