@{
    ViewBag.Title = "Service unavailable";
    Layout = "_Layout";
}
<main id="content" role="main">
<div class="grid-row govuk-!-margin-bottom-9">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge govuk-\!-margin-bottom-4">
            Sorry, this service is unavailable
        </h1>
        <p class="govuk-body">Try again later.</p>
        <p class="govuk-body">
            <a class="govuk-link" href="@Url.Action("Index", "Apar")">Back to previous page</a>
        </p>
    </div>
</div>
</main>
